.header {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
}

.menu-list {
    display: none;
}

.container {
    width: 100%;
    flex-direction: column-reverse;
}

.logo-link {
    margin-top: 20%;
}

.menu-button {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
    align-self: flex-end;
    margin-right: 5%;
}

.menu-button:before, .menu-button:after {
    content: "";
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: -2px;
    right: -2px;
}

.menu-button:before {
    top: -10px;
}

.menu-button:after {
    bottom: -10px;
}

.headline-block {
    max-width: 328px;
}

.headline {
    font-size: 26px;
    line-height: 36px;
}

.trends-line {
    margin-top: 3%;
}

.trends-header-text {
    font-size: 16px;
}

.trend-wrapper {
    width: 100%;
    margin-bottom: 0.5%;
}

.trend-list-link {
    font-size: 12px;
}

.header-trend-link {
    font-size: 16px;
}

.main-posts-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post {
    flex-direction: column;
}

.post-image {
    width: 100%;
}

.link-post {
    font-size: 14px;
}

.header-for-post {
    font-size: 16px;
}

.text-post {
    font-size: 14px;
    line-height: 20px;
}

.list-category-posts {
    margin-top: 2%;
}

.shop {
    min-width: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.shop-header-text {
    font-size: 16px;
}

.product-cards {
    flex-direction: column;
}

.card-product {
    min-width: 100%;
    margin-bottom: 10%;
}

.footer {
    width: 100%;
}