.header {
    padding-left: 3%;
    padding-right: 3%;
}
.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.menu-list {
    display: none;
}

.menu-button {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    cursor: pointer;
    z-index: 1;
}

.menu-button:before, .menu-button:after {
    content: "";
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    left: -2px;
    right: -2px;
}

.menu-button:before {
    top: -10px;
}

.menu-button:after {
    bottom: -10px;
}

.headline {
    font-size: 40px;
    line-height: 55px;
    flex-wrap: wrap;
}

.headers-project {
    padding-top: 2%;
    padding-bottom: 3%;
}

.trends-header-text {
    font-size: 18px;
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    .trend-wrapper {
        width: 100%;
        margin-bottom: 2%;
    }
}

.trend-wrapper {
    width: 49.5%;
    margin-bottom: 0.4%;
    margin-right: 0.25%;
    margin-left: 0.25%;
}

.trend-list-link {
    font-size: 14px;
    line-height: 37px;
}

.header-trend-link {
    font-size: 17px;
    line-height: 22px;
}

.main-posts-content {
    padding-right: 3%;
    padding-left: 3%;
 }

.post {
    display: flex;
    flex-direction: column;
}

.post-image {
    width: 100%;
}

.post-description-block {
    margin-left: 0;
}

.link-post {
    font-size: 14px;
}

.header-for-post {
    font-size: 17px;
}

.text-post {
    font-size: 15px;
}

.list-category-posts {
    margin-top: 2%;
}

.shop {
    min-width: 100%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.shop-header-text {
    font-size: 18px;
}

.card-product {
    min-width: 46%;
    margin-bottom: 10%;
}

.product-image {
    max-width: 100%;
}

.footer {
    width: 100%;
}
